@import "./variables.css";

body {
  font-size: var(--base-font-size);
  font-family: var(--primary-font);
  font-weight: var(--medium-weight);
  line-height: calc(var(--base-font-size) * 1.618);
}

h1 {
  font-size: calc(var(--base-font-size) * 1.4);
  font-weight: var(--black-weight);
}

h2 {
  font-size: calc(var(--base-font-size) * 1.3);
  font-weight: var(--black-weight);
}

button {
  font-size: calc(var(--base-font-size) * 1.1);
  font-weight: var(--bold-weight);
  border: none;
  font-family: inherit;
  padding: 0.8em 1em;
  border-radius: 0.75rem;
  text-transform: capitalize;
  cursor: pointer;
}

a {
  text-transform: capitalize;
}
